@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.gauge {
  filter: drop-shadow(0 0 20px rgb(234 179 8 / 0.5));
}

.neon-red { text-shadow: 0 0 15px #ef4444; }
.neon-blue { text-shadow: 0 0 15px #3b82f6; }
